body {
	background-color: black;
}
.g-body{
margin: 1000;
padding: 1000;
Width: 400px;
height: 300px;
background-color: ghostwhite;
border-top-left-radius: 100px;
border-top-right-radius: 100px;
position: relative;
}
.g-face{
Width:250;
height: 250;
background-color: darkred;
border-top-left-radius: 100px;
border-top-right-radius: 100px;

}