body {background-color: black;}
.canvas{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50, -50);


}
.g-righ-eye div{
margin: 1000;
padding: 1000;
Width:100;
height: 400;
background-color: indianred;
	border-radius: 100%;
	position: relative:;
	top: 130px;
	left: 150px;
}
.g-body{
margin: 1000;
padding: 1000;
Width: 400px;
height: 600px;
background-color: ghostwhite;
border-top-left-radius: 100px;
border-top-right-radius: 100px;
position: relative;
}
